@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;0,900;1,900&display=swap');


:root{
    --branco: #fff;
    --primaria: #0052E0;
    --secundaria: #001F54;
    --background: #BCE6E5;
    --dark: #0A1128;
    

    --raleway: 'Raleway', sans-serif; 
    --shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);}
body{
    background-color: var(--background);
    background-image: url(imagens/Screenshot_1.jpg);
    background-repeat: no-repeat;
    background-position: top center ;
    width: 100vw;}



nav{
    background-color: var(--primaria);
    position: absolute;
    width: 88%;
    height: 50px;
    left: 50%;
    top: 88px;
    border-radius: 22px;
    transform: translate(-50%, -50%);
    box-shadow:var(--shadow);}
ul{
    display: flex;
    flex-direction: row;
    float: right;
    padding: 1px 17.65px 1px 1px;
    margin: 0px;}
li{
    display: flex;}
.toolbar:hover{
    filter: brightness(1);
    background-color: rgba(255, 255, 255, 0.055);
    font-weight: 800;}
.toolbar{ 
    display: flex;
    color: var(--branco);
    font-family: var(--raleway);
    font-weight: bold;
    justify-content: space-between;
    align-items: flex-end; 
    padding: 14px 16px;
    margin: 0px;    
    text-decoration: none;}



main{
    font-family: var(--raleway);
    position: absolute;
    width: 87%;
    height: 61%;
    left: 6vw;
    top: 154px;}
section{
    position: relative;}
h1{
    color: var(--secundaria);
    width: 10vw;
    display: block;
    font-weight: 700;
    font-size: 3em;

    margin: 15px 0px;
    padding: 0px 0px;}
.saudacao{
    background-color: var(--primaria);
    width: 120px;
    height: 20px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: var(--shadow);

    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 14px;
    padding: 6px;
    row-gap: 10px;
    margin: 0px;}
.saudacao> span{
    color: var(--branco);
    font-weight: 600;}
.saudacao:hover >.mao{
    transform: rotate(45deg);}
.sobre{}
.redes{
    width: 130px;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;} 

#imagem{
    position: absolute;
    width: 45%;
    height: 100%;
    right: 13%;
    bottom: -2%;
    transform: translate(0%, 0%);}

.principal{
    position: relative;
    width: 78%;
    height: 96%;

    top: 3%;
    left: 8%;}

.illustrator{ position: absolute; right: 66%; top: 57%;}
.css3{ position: absolute; left: -1%; top: 10%;}
.figma{ position: absolute;bottom: -5%; right: 16%;}
.html5{ position: absolute; top: 31%; right: 3%;}
.photoshop{ position: absolute; top: -7%; right: 18%;}

footer{
    position: absolute;
    bottom: 5%;
    right: 18%;
}
.button{
    position: absolute;
    bottom: -9%;
    right: -7%;
    width: 137px;
    height: 29px;
    border-style: solid;
    border-radius: 14px;
}