@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;0,900;1,900&display=swap');

/* Variaveis */
:root{
    --branco: #fff;
    --primaria: #0052E0;
    --secundaria: #001F54;
    --background: #BCE6E5;
    --dark: #0A1128;
    --raleway: Raleway, sans-serif; 
    --shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);}

body{
    background-color: var(--background);
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;}

/* Navegador */

header{
    position: relative;
    width: 98vw;
    height: 15vh;
    left: 0;
    top: 0px;
    margin: auto;}
ul{
    
    position: absolute;
    width: 88%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0px 18px 0px 0px;

    background-color: var(--branco);
    box-shadow: var(--shadow);
    border-radius: 22px;
    
    display: flex;
    flex-direction: row;
    float: right;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 2%;}

.toolbar:hover{
    filter: brightness(1);
    background-color: rgba(255, 255, 255, 0.055);
    font-weight: 700;}
.toolbar{ 
    display: flex;
    color: var(--dark);
    font-family: var(--raleway);
    font-weight: bold;
    justify-content: space-between;
    align-items: flex-end; 
    padding: 14px 16px;
    margin: 0px;    
    text-decoration: none;}

/* Meio */
#viewport{
}
main {
    
    margin: 0px;
    padding: 0;
    position: relative;
    width: 98vw;
    height: 80vh;
    left: 0vw;
    top: 0vh;}
#meio{
    position: absolute;
    top:0;
    left: 0;
    width: 99vw;
    height: 69vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    row-gap: 59%;

    font-family: var(--raleway);

}

section{
    position: relative;
    margin: 0;
    height: 100%;
    top: 1vh;}
.sobre {
    height: 37vh;}
.sobre h1{
    color: var(--secundaria);
    width: 10vw;
    display: block;
    font-weight: 700;
    font-size: 3em;

    margin: 15px 0px;
    padding: 0px 0px;}
.sobre > .saudacao{
    background-color: var(--secundaria);
    width: 120px;
    height: 20px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: var(--shadow);

    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 14px;
    padding: 6px;
    row-gap: 10px;
    margin: 0px;}
.sobre > .saudacao> span{
    color: var(--branco);
    font-weight: 600;}
.sobre > .saudacao:hover >.mao{
    transition: all 0.8s ease-in-out 0s;
    transform: rotate(45deg);}
.sobre > .redes{
    width: 130px;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;} 
.imagens > .principal{
    position: relative;
    width: 76%;
    top: 50%;
    left: 10%;
    transform: translate(0px, -50%);}
.imagens > .illustrator{
    width: 30%;
    position: absolute;
    right: 64%;
    top: 64%;}
.imagens > .css3{
    width: 30%;
    position: absolute;
    left: 4%;
    top: 0%;}
.imagens > .figma{
    width: 30%;
    position: absolute;
    bottom: -3%;
    right: 13%;}
.imagens > .html5{
    width: 30%;
    position: absolute;
    top: 26%;
    right: 0%;}
.imagens > .photoshop{
    width: 30%;
    position: absolute;
    top: -7%;
    right: 16%;}

.espaco{
    width: 10vw;
    height: 10vh;
    margin: auto;}

    #manutencao{
        display: flex;
    background-color: var(--secundaria);
    width: 17vw;
    height: 10vh;
    color: var(--branco);
    border-radius: 10px;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 2px;
    left: 38px;
    }
    #manutencao > p{
    margin: 0px;
    padding: 0px;}




/* Projetos */
aside{
    margin: 0px;
    margin-top: 50px;
}
#projetos{
    margin: 0px;

    text-align: center;
    font-family: var(--raleway);    
}
#projetos h1{
    color: var(--secundaria);
    width: 100vw;
    font-weight: 700;
    font-size: 3em;

    margin: 0px 0px;
    padding: 20px 0px;
}
#grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 34px 5px;
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    margin: 6px 103px;
    padding: 0px;
    
}


.cards-portifolio{
    transition: all 0.4s ease-in-out 0s;
    background-color: white;
    color: var(--dark);
    width: 250px;
    height: 310px;
    border-radius: 15px;
    text-align: left
    ;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: var(--shadow);
    text-decoration: none;
}

.cards-portifolio:hover{
    background-color: #001f54a4;
    color: white;
}
.cards-portifolio:active{
    transition: none;
    box-shadow: none;
    width: 245px;
    height: 305px;
}
.informacao{
    margin: 9px 20px 1px 20px;
    padding: 0;
}
.informacao>h3,p{
    margin: 0;
    padding: 5px 0px;
    text-decoration: none;
}
.informacao>p{
    font-size: 0.9em;
    font-family: arial, sans-serif;
    height: 53px;
}
.screenshot{
    background-color: var(--dark);
    width: 80%;
    height: 60%;
    border-radius: 10px;
}



/* Rodapé */
footer{
    display: block;
    height: 81px;
    margin: 25px 1px;
    padding: 23px 1px;
}
.rodape{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    row-gap: 4px;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;}
.rodape > #button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0px;
    width: 200px;
    height: 45px;
    border-radius: 10px;
    color: var(--secundaria);
    text-decoration: none;
    background-color: var(--branco);
    box-shadow: var(--shadow);}
#button > img{
    margin: 0;
    padding: 0;}
#button > p{
    color: var(--secundaria);
    font-family: var(--raleway);
    font-size: 1em;
    text-decoration: none;
    font-weight: 500;}


div > .baixarcv{
    color: var(--secundaria);
    font-family: var(--raleway);
    font-size: 1em;
    margin: 0px 15px 0px 0px;
    font-weight: 500;
    display: flex;
    gap: 9px;
    text-decoration: none;
    justify-content: center;}

#up{
    background-color: var(--branco);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    box-shadow: var(--shadow);
   display: flex;
   align-items: center;
   justify-content: center;}


   /*Inclusão dos projetos*/
   #projeto1{
    background-image: url(../imagens/produto_preview.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
   }
   #projeto2{
    background-image: url(../imagens/maquina-de-memes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
   }
   #projeto3{
    background-image: url(../imagens/cordel-moderno.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
   }
   #projeto4{
    background-image: url(../imagens/projeto-social.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
   }
   #projeto5{
    background-image: url(../imagens/tela-login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
   }
   #projetoembreve{
    background-image: url(../imagens/embreve.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
   }
